.grid-head {
    width: 100%;
    padding: 16px 2vw;
    border-bottom: 1px solid #dcdcdc;
}
.grid-head a {
    display: flex;
    align-items: center;
    font-family: 'NanumBarunGothicBold';
    cursor: pointer;
    width: 100px;
}
.post-wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}
.grid-col {
    float: left;
    padding: 2vw;
}
.post-card--first {
    padding-top: 0 !important;
}
.post-card--last {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}
.post-card {
    display: block;
    padding: 32px 0;
    word-break: break-word;
    border-bottom: 1px solid #dcdcdc;
}
.post-card__title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
    transition: .4s;
}
.post-card:hover .post-card__title {
    color: #00A0FF;
}
.post__image {
    margin: 0 auto 16px;
}
.font-medium {
    font-size: 16px;
    line-height: 25px;
}
.post-card__excerpt {
    margin-bottom: 10px;
}
.post-card__date {
    display: block;
    color: #2B5F72;
    direction: ltr;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}
.post__title {
    margin: 0;
}
.post__date {
    position: relative;
    padding-top: 16px;
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #2B5F72; 
}
.content > * {
    margin-bottom: 32px;
}

/*
 * 매우 작은 디스플레이 (Extra Small Displays):
 * 해상도: 767px 이하
 * 장치: 모바일 장치 (스마트폰, 테블릿 등)
 */
@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 609px) {

}

@media screen and (max-width: 559px) {
    .post-card__title {
        font-size: 20px;
    }
}

@media screen and (min-width: 270px) and (max-width: 330px) {
    .post-card__title {
        font-size: 18px;
    }
    .grid-head {
        padding: 16px 4vw;
    }
    .grid-col {
        padding: 4vw;
    }
}