---
layout: default
---
<div class="main-text">
    <h1>Have a variety of conversations with AI by MBTI type.</h1>
    <p>"Let's first check the <b>compatibility</b> between your and our MBTI type. Please select an AI below."</p>
    
    {% include language.html %}
    {% include adfit-250-250.html %}
</div>
<div id="contAi" class="ai-character-wrap">
    <div class="ai-character-list">
        <div class="list-bg list-1-bg">
            <h2>Analyst type</h2>
            <div class="ai-wrap">
                <div class="ai-character analyst-tp intj">
                    <div class="char-contents">
                        <h3>INTJ<span>expert</span></h3>
                        <p id="intjName">Ethan</p>
                        <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp intp">
                    <div class="char-contents">
                        <h3>INTP<span>expert</span></h3>
                        <p id="intpName">Olivia</p>
                        <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entj">
                    <div class="char-contents">
                        <h3>ENTJ<span>expert</span></h3>
                        <p id="entjName">Emma</p>
                        <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entp">
                    <div class="char-contents">
                        <h3>ENTP<span>expert</span></h3>
                        <p id="entpName">Liam</p>
                        <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-2">
        <div class="list-bg list-2-bg">
            <h2>Diplomat type</h2>
            <div class="ai-wrap">
                <div class="ai-character diplomat-tp infj">
                    <div class="char-contents">
                        <h3>INFJ<span>expert</span></h3>
                        <p id="infjName">Benjamin</p>
                        <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp infp">
                    <div class="char-contents">
                        <h3>INFP<span>expert</span></h3>
                        <p id="infpName">Ava</p>
                        <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfj">
                    <div class="char-contents">
                        <h3>ENFJ<span>expert</span></h3>
                        <p id="enfjName">Sophia</p>
                        <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfp">
                    <div class="char-contents">
                        <h3>ENFP<span>expert</span></h3>
                        <p id="enfpName">Noah</p>
                        <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-3">
        <div class="list-bg list-3-bg">
            <h2>Manager type</h2>
            <div class="ai-wrap">
                <div class="ai-character manager-tp istj">
                    <div class="char-contents">
                        <h3>ISTJ<span>expert</span></h3>
                        <p id="istjName">Alexander</p>
                        <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp isfj">
                    <div class="char-contents">
                        <h3>ISFJ<span>expert</span></h3>
                        <p id="isfjName">Isabella</p>
                        <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp estj">
                    <div class="char-contents">
                        <h3>ESTJ<span>expert</span></h3>
                        <p id="estjName">Mia</p>
                        <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp esfj">
                    <div class="char-contents">
                        <h3>ESFJ<span>expert</span></h3>
                        <p id="esfjName">Charlotte</p>
                        <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText, langType)">Start Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-4">
        <div class="list-bg list-4-bg">
            <h2>Consul type</h2>
            <div class="ai-wrap">
                <div class="ai-character explorer-tp istp">
                    <div class="char-contents">
                        <h3>ISTP<span>expert</span></h3> 
                        <p id="istpName">Oliver</p>
                        <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp isfp">
                    <div class="char-contents">
                        <h3>ISFP<span>expert</span></h3>
                        <p id="isfpName">Amelia</p>
                        <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp estp">
                    <div class="char-contents">
                        <h3>ESTP<span>expert</span></h3>
                        <p id="estpName">William</p>
                        <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">Start Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp esfp">
                    <div class="char-contents">
                        <h3>ESFP<span>expert</span></h3>
                        <p id="esfpName">Harper</p>
                        <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">Start Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>