---
layout: default
---
<script>
  document.addEventListener("DOMContentLoaded", function() {
    fnChangeBlogLang(langType);

    // URL 생성
    const currentURL = window.location.href;
    const updatedURL = currentURL + (currentURL.includes('?') ? '&' : '?') + 'langType=' + langType;

    // 블로그 포스트 링크에 동적으로 URL 적용
    const postLinks = document.querySelectorAll('.post-card');
    postLinks.forEach(function(link) {
      const postURL = link.getAttribute('href');
      link.setAttribute('href', postURL + (postURL.includes('?') ? '&' : '?') + 'langType=' + langType);
    });
  })
</script>
<div class="post-wrap">

  {% include blogTop.html %}
  <div class='grid-col'>
    {% for post in site.posts %}

      <a href='{{ post.url | prepend: site.baseurl }}' class='post-card {% if forloop.first == true %} post-card--first {% endif %} {% if forloop.last == true %} post-card--last {% endif %}'>
        <h3 class='post-card__title'>{{ post.title }}</h3>

        {% if post.image %}
          <img src='{{ post.image | prepend: site.baseurl }}' class='post__image' alt='{{ post.title }}'>
        {% endif %}

        <p class='post-card__excerpt font-medium'>
          {{ post.content | strip_html | truncatewords:35 }}
        </p>

        <span class='post-card__date'>{{ post.date | date: '%d %b %Y' }}</span>
      </a>

    {% endfor %}
  </div>
</div>