<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="d3ab09747738b5a7ef06a8cc39291f6a8e88d347" />
    {% seo title=false %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
                           integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                           crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    
    <script src="/js/script.js"></script>
    <!-- 카카오 공유하기 -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- 구글 애드센스 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8955182453510440" crossorigin="anonymous"></script>
    <!-- 구글 애널리틱스: Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-743JGCJVSG"></script>
    <!-- 카카오 애드핏 -->
    <!-- <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script> -->
    <script>
        let langType = "";
        const userAgent = navigator.userAgent;
        const isReactNativeWebView = /wv|WebView/i.test(userAgent);

        //모든 페이지에 영향을 미치는 공통 요소들의 언어를 변경하는 함수
        document.addEventListener("DOMContentLoaded", function() {
            const params = new URLSearchParams(window.location.search);
            langType = params.get('langType');
            if (langType=="ru") {
                document.querySelector(".main-text h1").style.fontFamily = "none"; // .main-text h1 의 font-family none 처리
            }
            fnChangeLangCommonEl(); //모든 페이지 url의 langType에 따라 공통 요소(header menu bar)의 언어를 변경하는 함수

            /* 
             * 1. REACT NATIVE WEBVIEW 에서는 모달 팝업을 띄우지 않음
             * 2. 메인페이지를 제외한 나머지 페이지에서는 모달 팝업을 띄우지 않음
             */
            console.log("webview connect: ", isReactNativeWebView);
            //URL이 "/", "/index.html" 일 경우 모달팝업 띄우기
            if (window.location.pathname === "/" || window.location.pathname === "/index.html") {
                document.getElementById("appDown").style.display = "none";
                //REACT NATIVE WEBVIEW가 아닐 경우 모달팝업 띄우기
                if (!isReactNativeWebView) {
                    document.getElementById("appDown").style.display = "block";
                }
            }
        });

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date()); 
        gtag('config', 'G-743JGCJVSG');
    </script>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>