<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 페이지 url에서 도메인 주소 다음에 오는 언어 코드를 가져온다.
        const langType = window.location.pathname.split('/')[1];

        // const params = new URLSearchParams(window.location.search);
        // langType = params.get('langType');
        if (window.location.pathname === "/" || window.location.pathname === "/index.html") {
            document.getElementById("lang").value = "ko";
        } else {
            document.getElementById("lang").value = langType;
        }
    });
</script>
<div class="language">
    <span>language:</span>
    <select name="lang" id="lang" onchange="fnChangeLang(this)">
        <option value="ko" id="ko" selected="selected">한국어</option>
        <option value="en" id="en">English</option> <!--영어-->
        <option value="de" id="de">Deutsch</option> <!--독일어-->
        <option value="es" id="es">Español</option> <!--스페인어-->
        <option value="fr" id="fr">Français</option> <!--프랑스어-->
        <option value="id" id="id">Indonesia</option> <!--인도네시아어-->
        <option value="ja" id="ja">日本語</option> <!--일본어-->
        <option value="nl" id="nl">Nederlands</option> <!--네덜란드어-->
        <option value="pl" id="pl">Polski</option> <!--폴란드어-->
        <option value="pt" id="pt">Português</option> <!--포르투갈어-->
        <option value="ru" id="ru">Русский</option> <!--러시아어-->
        <option value="tr" id="tr">Türkçe</option> <!--터키어-->
        <option value="uk" id="uk">Українська</option> <!--우크라이나어-->
        <option value="vi" id="vi">Tiếng việt</option> <!--베트남어-->
        <option value="zh" id="zh">中文</option> <!--중국어-->
    </select>
</div>