<!-- app 다운로드 modal 팝업 -->
<div id="appDown" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>MBTI-CHAT 앱 출시!!</h2>
            <span class="close" onclick="fnClose()">&times;</span>
        </div>
        <div class="modal-body">
            <div class="pop-logo"><img src="/images/logo_transparent.png" alt="logo"></div>
            <p>앱을 다운로드 하시겠습니까?</p>
            <div class="modal-btn">
                <button class="modal-down"><i class="fab fa-apple"></i><span>App Store</span></button>
                <button class="modal-down"><i class="fab fa-google-play"></i><span>Google Play</span></button>
            </div>
        </div>
    </div>
</div>