---
layout: default
---
<div class="main-text">
    <h1>Selamat datang! Sambungkan dan chat dengan para konselor AI yang ahli dalam tipe MBTI.</h1>
    <!-- <p>Program Komunikasi MBTI adalah alat berbasis AI yang memungkinkan percakapan terkait dengan tipe MBTI Anda. Aplikasi ini dapat digunakan untuk berbagai tujuan dan kebutuhan, membantu meningkatkan pemahaman tentang tipe MBTI dan perbedaan antara Anda dengan orang lain. Program ini dapat sangat berharga dalam membangun hubungan, memilih karir, mengatur tim, memberikan konseling, kepemimpinan, dan banyak lagi. Temukan ide-ide baru dan rasakan pengalaman komunikasi yang efektif dengan Program Komunikasi MBTI!</p> -->
    {% include language.html %}
    {% include adfit-250-250.html %}
</div>
<div id="contAi" class="ai-character-wrap">
    <div class="ai-character-list">
        <div class="list-bg list-1-bg">
            <h2>Analis</h2>
            <div class="ai-wrap">
                <div class="ai-character analyst-tp intj">
                    <div class="char-contents">
                        <h3>INTJ<span>Ahli</span></h3>
                        <p id="intjName">Ethan</p>
                        <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp intp">
                    <div class="char-contents">
                        <h3>INTP<span>Ahli</span></h3>
                        <p id="intpName">Olivia</p>
                        <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entj">
                    <div class="char-contents">
                        <h3>ENTJ<span>Ahli</span></h3>
                        <p id="entjName">Emma</p>
                        <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entp">
                    <div class="char-contents">
                        <h3>ENTP<span>Ahli</span></h3>
                        <p id="entpName">Liam</p>
                        <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText, langType)">Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-2">
        <div class="list-bg list-2-bg">
            <h2>Diplomat</h2>
            <div class="ai-wrap">
                <div class="ai-character diplomat-tp infj">
                    <div class="char-contents">
                        <h3>INFJ<span>Ahli</span></h3>
                        <p id="infjName">Benjamin</p>
                        <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp infp">
                    <div class="char-contents">
                        <h3>INFP<span>Ahli</span></h3>
                        <p id="infpName">Ava</p>
                        <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfj">
                    <div class="char-contents">
                        <h3>ENFJ<span>Ahli</span></h3>
                        <p id="enfjName">Sophia</p>
                        <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfp">
                    <div class="char-contents">
                        <h3>ENFP<span>Ahli</span></h3>
                        <p id="enfpName">Noah</p>
                        <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText, langType)">Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-3">
        <div class="list-bg list-3-bg">
            <h2>Manajer</h2>
            <div class="ai-wrap">
                <div class="ai-character manager-tp istj">
                    <div class="char-contents">
                        <h3>ISTJ<span>Ahli</span></h3>
                        <p id="istjName">Alexander</p>
                        <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp isfj">
                    <div class="char-contents">
                        <h3>ISFJ<span>Ahli</span></h3>
                        <p id="isfjName">Isabella</p>
                        <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp estj">
                    <div class="char-contents">
                        <h3>ESTJ<span>Ahli</span></h3>
                        <p id="estjName">Mia</p>
                        <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText, langType)">Chat</button>
                    </div>
                </div>
                <div class="ai-character manager-tp esfj">
                    <div class="char-contents">
                        <h3>ESFJ<span>Ahli</span></h3>
                        <p id="esfjName">Charlotte</p>
                        <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText, langType)">Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-4">
        <div class="list-bg list-4-bg">
            <h2>Penjelajah</h2>
            <div class="ai-wrap">
                <div class="ai-character explorer-tp istp">
                    <div class="char-contents">
                        <h3>ISTP<span>Ahli</span></h3> 
                        <p id="istpName">Oliver</p>
                        <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp isfp">
                    <div class="char-contents">
                        <h3>ISFP<span>Ahli</span></h3>
                        <p id="isfpName">Amelia</p>
                        <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp estp">
                    <div class="char-contents">
                        <h3>ESTP<span>Ahli</span></h3>
                        <p id="estpName">William</p>
                        <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">Chat</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp esfp">
                    <div class="char-contents">
                        <h3>ESFP<span>Ahli</span></h3>
                        <p id="esfpName">Harper</p>
                        <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">Chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>