---
layout: default
---
<div class="main-text">
    <h1>MBTIの種類ごとにAIとさまざまな会話をしましょう。</h1>
    <p>"まず、あなたのMBTIタイプと私たちの相性を調べましょう。以下のAIを選択してください。"</p>
    {% include language.html %}
    {% include adfit-250-250.html %}
</div>
<div id="contAi" class="ai-character-wrap">
    <div class="ai-character-list">
        <div class="list-bg list-1-bg">
            <h2>アナリスト</h2>
            <div class="ai-wrap">
                <div class="ai-character analyst-tp intj">
                    <div class="char-contents">
                        <h3>INTJ<span>専門家</span></h3>
                        <p id="intjName">イーサン</p>
                        <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp intp">
                    <div class="char-contents">
                        <h3>INTP<span>専門家</span></h3>
                        <p id="intpName">オリビア</p>
                        <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entj">
                    <div class="char-contents">
                        <h3>ENTJ<span>専門家</span></h3>
                        <p id="entjName">エマ</p>
                        <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entp">
                    <div class="char-contents">
                        <h3>ENTP<span>専門家</span></h3>
                        <p id="entpName">リアム</p>
                        <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText, langType)">チャットする</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-2">
        <div class="list-bg list-2-bg">
            <h2>ディプロマット</h2>
            <div class="ai-wrap">
                <div class="ai-character diplomat-tp infj">
                    <div class="char-contents">
                        <h3>INFJ<span>専門家</span></h3>
                        <p id="infjName">ベンジャミン</p>
                        <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp infp">
                    <div class="char-contents">
                        <h3>INFP<span>専門家</span></h3>
                        <p id="infpName">アヴァ</p>
                        <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfj">
                    <div class="char-contents">
                        <h3>ENFJ<span>専門家</span></h3>
                        <p id="enfjName">ソフィア</p>
                        <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfp">
                    <div class="char-contents">
                        <h3>ENFP<span>専門家</span></h3>
                        <p id="enfpName">ノア</p>
                        <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText, langType)">チャットする</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-3">
        <div class="list-bg list-3-bg">
            <h2>マネージャー</h2>
            <div class="ai-wrap">
                <div class="ai-character manager-tp istj">
                    <div class="char-contents">
                        <h3>ISTJ<span>専門家</span></h3>
                        <p id="istjName">アレクサンダー</p>
                        <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character manager-tp isfj">
                    <div class="char-contents">
                        <h3>ISFJ<span>専門家</span></h3>
                        <p id="isfjName">イザベラ</p>
                        <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character manager-tp estj">
                    <div class="char-contents">
                        <h3>ESTJ<span>専門家</span></h3>
                        <p id="estjName">ミア</p>
                        <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character manager-tp esfj">
                    <div class="char-contents">
                        <h3>ESFJ<span>専門家</span></h3>
                        <p id="esfjName">シャーロット</p>
                        <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText, langType)">チャットする</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-4">
        <div class="list-bg list-4-bg">
            <h2>エクスプローラー</h2>
            <div class="ai-wrap">
                <div class="ai-character explorer-tp istp">
                    <div class="char-contents">
                        <h3>ISTP<span>専門家</span></h3> 
                        <p id="istpName">オリバー</p>
                        <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp isfp">
                    <div class="char-contents">
                        <h3>ISFP<span>専門家</span></h3>
                        <p id="isfpName">アメリア</p>
                        <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp estp">
                    <div class="char-contents">
                        <h3>ESTP<span>専門家</span></h3>
                        <p id="estpName">ウィリアム</p>
                        <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">チャットする</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp esfp">
                    <div class="char-contents">
                        <h3>ESFP<span>専門家</span></h3>
                        <p id="esfpName">ハーパー</p>
                        <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">チャットする</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>