<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<body>
    <div class="content site-container">
        <div class="site-pusher">

        {% include header.html %}

        <div class="content-wrapper">
            <!-- <div class="cont-header">
                <a class="logo"><img src="./images/logo.png" alt="mbti-chat logo"></a>
            </div> -->
            <div class="main-text"><h1>MBTI 유형별 AI 상담 전문가와 <br />친구가 되고 채팅 할 수 있습니다.</h1></div>
            <div id="contAi" class="ai-character-wrap">
                <div class="ai-character-list">
                    <div class="list-bg list-1-bg">
                        <h2>분석가형</h2>
                        <div class="ai-wrap">
                            <div class="ai-character analyst-tp intj">
                                <div class="char-contents">
                                    <h3>INTJ<span>전문가</span></h3>
                                    <p id="intjName">이단</p>
                                    <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character analyst-tp intp">
                                <div class="char-contents">
                                    <h3>INTP<span>전문가</span></h3>
                                    <p id="intpName">올리비아</p>
                                    <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character analyst-tp entj">
                                <div class="char-contents">
                                    <h3>ENTJ<span>전문가</span></h3>
                                    <p id="entjName">엠마</p>
                                    <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character analyst-tp entp">
                                <div class="char-contents">
                                    <h3>ENTP<span>전문가</span></h3>
                                    <p id="entpName">리암</p>
                                    <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ai-character-list list-2">
                    <div class="list-bg list-2-bg">
                        <h2>외교관형</h2>
                        <div class="ai-wrap">
                            <div class="ai-character diplomat-tp infj">
                                <div class="char-contents">
                                    <h3>INFJ<span>전문가</span></h3>
                                    <p id="infjName">벤자민</p>
                                    <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character diplomat-tp infp">
                                <div class="char-contents">
                                    <h3>INFP<span>전문가</span></h3>
                                    <p id="infpName">에이바</p>
                                    <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character diplomat-tp enfj">
                                <div class="char-contents">
                                    <h3>ENFJ<span>전문가</span></h3>
                                    <p id="enfjName">소피아</p>
                                    <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character diplomat-tp enfp">
                                <div class="char-contents">
                                    <h3>ENFP<span>전문가</span></h3>
                                    <p id="enfpName">노아</p>
                                    <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ai-character-list list-3">
                    <div class="list-bg list-3-bg">
                        <h2>관리자형</h2>
                        <div class="ai-wrap">
                            <div class="ai-character manager-tp istj">
                                <div class="char-contents">
                                    <h3>ISTJ<span>전문가</span></h3>
                                    <p id="istjName">알렉산더</p>
                                    <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character manager-tp isfj">
                                <div class="char-contents">
                                    <h3>ISFJ<span>전문가</span></h3>
                                    <p id="isfjName">이자벨라</p>
                                    <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character manager-tp estj">
                                <div class="char-contents">
                                    <h3>ESTJ<span>전문가</span></h3>
                                    <p id="estjName">미아</p>
                                    <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character manager-tp esfj">
                                <div class="char-contents">
                                    <h3>ESFJ<span>전문가</span></h3>
                                    <p id="esfjName">샬롯</p>
                                    <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText)">채팅하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ai-character-list list-4">
                    <div class="list-bg list-4-bg">
                        <h2>탐험가형</h2>
                        <div class="ai-wrap">
                            <div class="ai-character explorer-tp istp">
                                <div class="char-contents">
                                    <h3>ISTP<span>전문가</span></h3> 
                                    <p id="istpName">올리버</p>
                                    <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character explorer-tp isfp">
                                <div class="char-contents">
                                    <h3>ISFP<span>전문가</span></h3>
                                    <p id="isfpName">애멜리아</p>
                                    <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character explorer-tp estp">
                                <div class="char-contents">
                                    <h3>ESTP<span>전문가</span></h3>
                                    <p id="estpName">윌리엄</p>
                                    <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                            <div class="ai-character explorer-tp esfp">
                                <div class="char-contents">
                                    <h3>ESFP<span>전문가</span></h3>
                                    <p id="esfpName">하퍼</p>
                                    <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">채팅하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont-footer">
                <span>© mbti-chat 2023. ALL Rights Reserved.</span>
                <a href="./privacy.html">Privacy policy</a>
            </div>
        </div>
        <div class="site-cache" id="site-cache"></div>
        </div>
    </div>
    
    <!-- app 다운로드 modal 팝업 -->
    <div id="appDown" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>MBTI-CHAT 앱 출시!!</h2>
                <span class="close" onclick="fnClose()">&times;</span>
            </div>
            <div class="modal-body">
                <div class="pop-logo"><img src="./images/logo_transparent.png" alt="logo"></div>
                <p>앱을 다운로드 하시겠습니까?</p>
                <div class="modal-btn">
                    <button class="modal-down"><i class="fab fa-apple"></i><span>App Store</span></button>
                    <button class="modal-down"><i class="fab fa-google-play"></i><span>Google Play</span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>