---
layout: default
---
<div class="main-text">
    <h1>欢迎！成为MBTI类型的AI咨询专家的朋友并进行聊天。</h1>
    <!-- <p>MBTI交流程序是一种基于人工智能的工具，可以让您进行与您的MBTI类型相关的对话。该应用程序可以根据不同的目的和需求使用，帮助您提高对MBTI类型的理解，并帮助您了解自己与他人之间的差异。该程序可在建立人际关系、职业选择、团队组建、咨询和领导力等多个方面发挥重要作用。通过使用MBTI交流程序，发现新的洞察力并体验有效的沟通！</p> -->
    {% include language.html %}
    {% include adfit-250-250.html %}
</div>
<div id="contAi" class="ai-character-wrap">
    <div class="ai-character-list">
        <div class="list-bg list-1-bg">
            <h2>分析师类型</h2>
            <div class="ai-wrap">
                <div class="ai-character analyst-tp intj">
                    <div class="char-contents">
                        <h3>INTJ<span>专家</span></h3>
                        <p id="intjName">伊桑</p>
                        <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp intp">
                    <div class="char-contents">
                        <h3>INTP<span>专家</span></h3>
                        <p id="intpName">奥利维亚</p>
                        <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entj">
                    <div class="char-contents">
                        <h3>ENTJ<span>专家</span></h3>
                        <p id="entjName">艾玛</p>
                        <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entp">
                    <div class="char-contents">
                        <h3>ENTP<span>专家</span></h3>
                        <p id="entpName">利亚姆</p>
                        <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText, langType)">聊天</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-2">
        <div class="list-bg list-2-bg">
            <h2>外交官类型</h2>
            <div class="ai-wrap">
                <div class="ai-character diplomat-tp infj">
                    <div class="char-contents">
                        <h3>INFJ<span>专家</span></h3>
                        <p id="infjName">本杰明</p>
                        <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp infp">
                    <div class="char-contents">
                        <h3>INFP<span>专家</span></h3>
                        <p id="infpName">阿娃</p>
                        <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfj">
                    <div class="char-contents">
                        <h3>ENFJ<span>专家</span></h3>
                        <p id="enfjName">索菲亚</p>
                        <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfp">
                    <div class="char-contents">
                        <h3>ENFP<span>专家</span></h3>
                        <p id="enfpName">诺亚</p>
                        <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText, langType)">聊天</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-3">
        <div class="list-bg list-3-bg">
            <h2>管理员类型</h2>
            <div class="ai-wrap">
                <div class="ai-character manager-tp istj">
                    <div class="char-contents">
                        <h3>ISTJ<span>专家</span></h3>
                        <p id="istjName">亚历山大</p>
                        <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character manager-tp isfj">
                    <div class="char-contents">
                        <h3>ISFJ<span>专家</span></h3>
                        <p id="isfjName">伊莎贝拉</p>
                        <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character manager-tp estj">
                    <div class="char-contents">
                        <h3>ESTJ<span>专家</span></h3>
                        <p id="estjName">米娅</p>
                        <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText, langType)">聊天</button>
                    </div>
                </div>
                <div class="ai-character manager-tp esfj">
                    <div class="char-contents">
                        <h3>ESFJ<span>专家</span></h3>
                        <p id="esfjName">夏洛特</p>
                        <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText, langType)">聊天</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-4">
        <div class="list-bg list-4-bg">
            <h2>探险家类型</h2>
            <div class="ai-wrap">
                <div class="ai-character explorer-tp istp">
                    <div class="char-contents">
                        <h3>ISTP<span>专家</span></h3> 
                        <p id="istpName">奥利弗</p>
                        <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">聊天</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp isfp">
                    <div class="char-contents">
                        <h3>ISFP<span>专家</span></h3>
                        <p id="isfpName">阿梅利亚</p>
                        <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">聊天</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp estp">
                    <div class="char-contents">
                        <h3>ESTP<span>专家</span></h3>
                        <p id="estpName">威廉</p>
                        <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">聊天</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp esfp">
                    <div class="char-contents">
                        <h3>ESFP<span>专家</span></h3>
                        <p id="esfpName">哈珀</p>
                        <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">聊天</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>