---
layout: default
---
<div class="main-text">
    <h1>Добро пожаловать! Станьте друзьями с экспертами по MBTI и общайтесь с ними в чате.</h1>
    <!-- <p>Программа коммуникации MBTI - это инструмент на основе искусственного интеллекта, позволяющий вам обсуждать свой тип MBTI. Это приложение может быть использовано для различных целей и потребностей, помогая повысить понимание типов MBTI и помогая понять различия между вами и другими людьми. Эта программа может быть полезна в различных аспектах, таких как установление отношений, выбор карьеры, формирование команд, консультирование и лидерство. Используйте программу коммуникации MBTI, чтобы открывать новые идеи и испытывать эффективное общение!</p> -->
    {% include language.html %}
    {% include adfit-250-250.html %}
</div>
<div id="contAi" class="ai-character-wrap">
    <div class="ai-character-list">
        <div class="list-bg list-1-bg">
            <h2>Тип Аналитика</h2>
            <div class="ai-wrap">
                <div class="ai-character analyst-tp intj">
                    <div class="char-contents">
                        <h3>INTJ<span>Эксперт</span></h3>
                        <p id="intjName">Итан</p>
                        <button onclick="fnNextPage('intj', document.getElementById('intjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp intp">
                    <div class="char-contents">
                        <h3>INTP<span>Эксперт</span></h3>
                        <p id="intpName">Оливия</p>
                        <button onclick="fnNextPage('intp', document.getElementById('intpName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entj">
                    <div class="char-contents">
                        <h3>ENTJ<span>Эксперт</span></h3>
                        <p id="entjName">Эмма</p>
                        <button onclick="fnNextPage('entj', document.getElementById('entjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character analyst-tp entp">
                    <div class="char-contents">
                        <h3>ENTP<span>Эксперт</span></h3>
                        <p id="entpName">Лиам</p>
                        <button onclick="fnNextPage('entp', document.getElementById('entpName').innerText, langType)">Чат</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-2">
        <div class="list-bg list-2-bg">
            <h2>Тип Дипломата</h2>
            <div class="ai-wrap">
                <div class="ai-character diplomat-tp infj">
                    <div class="char-contents">
                        <h3>INFJ<span>Эксперт</span></h3>
                        <p id="infjName">Бенджамин</p>
                        <button onclick="fnNextPage('infj', document.getElementById('infjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp infp">
                    <div class="char-contents">
                        <h3>INFP<span>Эксперт</span></h3>
                        <p id="infpName">Ава</p>
                        <button onclick="fnNextPage('infp', document.getElementById('infpName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfj">
                    <div class="char-contents">
                        <h3>ENFJ<span>Эксперт</span></h3>
                        <p id="enfjName">София</p>
                        <button onclick="fnNextPage('enfj', document.getElementById('enfjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character diplomat-tp enfp">
                    <div class="char-contents">
                        <h3>ENFP<span>Эксперт</span></h3>
                        <p id="enfpName">Ноа</p>
                        <button onclick="fnNextPage('enfp', document.getElementById('enfpName').innerText, langType)">Чат</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-3">
        <div class="list-bg list-3-bg">
            <h2>Тип Менеджера</h2>
            <div class="ai-wrap">
                <div class="ai-character manager-tp istj">
                    <div class="char-contents">
                        <h3>ISTJ<span>Эксперт</span></h3>
                        <p id="istjName">Александр</p>
                        <button onclick="fnNextPage('istj', document.getElementById('istjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character manager-tp isfj">
                    <div class="char-contents">
                        <h3>ISFJ<span>Эксперт</span></h3>
                        <p id="isfjName">Изабелла</p>
                        <button onclick="fnNextPage('isfj', document.getElementById('isfjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character manager-tp estj">
                    <div class="char-contents">
                        <h3>ESTJ<span>Эксперт</span></h3>
                        <p id="estjName">Мия</p>
                        <button onclick="fnNextPage('estj', document.getElementById('estjName').innerText, langType)">Чат</button>
                    </div>
                </div>
                <div class="ai-character manager-tp esfj">
                    <div class="char-contents">
                        <h3>ESFJ<span>Эксперт</span></h3>
                        <p id="esfjName">Шарлотта</p>
                        <button onclick="fnNextPage('esfj', document.getElementById('esfjName').innerText, langType)">Чат</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ai-character-list list-4">
        <div class="list-bg list-4-bg">
            <h2>Тип Исследователя</h2>
            <div class="ai-wrap">
                <div class="ai-character explorer-tp istp">
                    <div class="char-contents">
                        <h3>ISTP<span>Эксперт</span></h3> 
                        <p id="istpName">Оливер</p>
                        <button onclick="fnNextPage('istp', document.getElementById('istpName').innerText)">Чат</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp isfp">
                    <div class="char-contents">
                        <h3>ISFP<span>Эксперт</span></h3>
                        <p id="isfpName">Амелия</p>
                        <button onclick="fnNextPage('isfp', document.getElementById('isfpName').innerText)">Чат</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp estp">
                    <div class="char-contents">
                        <h3>ESTP<span>Эксперт</span></h3>
                        <p id="estpName">Уильям</p>
                        <button onclick="fnNextPage('estp', document.getElementById('estpName').innerText)">Чат</button>
                    </div>
                </div>
                <div class="ai-character explorer-tp esfp">
                    <div class="char-contents">
                        <h3>ESFP<span>Эксперт</span></h3>
                        <p id="esfpName">Харпер</p>
                        <button onclick="fnNextPage('esfp', document.getElementById('esfpName').innerText)">Чат</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>